.header {
    background-color: #ffdadf;
    padding: 20px;
    .email-social-share
    {
      float: right !important;
      width:140px;
      text-align: right;
      h4
      {
        margin-top: 0 !important;
        margin-bottom: 0px !important;
        text-align: right;
      }
      ul
      {
        list-style: none;
        margin-bottom: 0;
        text-align: center;
        width: 100%;
        text-align: right;
        li
        {
          display: inline;
          font-size: 18px;
          a:hover, a:visited, a:active
          {
            text-decoration: none !important;
            color: rgba(0, 0, 0, 0) !important;
          }
          a
          {
            &.email-fb
            {
              background: url('http://neuroclub.local/pub/static/frontend/Quinoid/neuroclub/en_US/images/facebook.png');
              background-repeat:no-repeat;
              background-position:center;
              font-size: 19px;
              color: transparent !important;
              text-decoration: none !important;
              padding: 0 0 0 3px;
              &:hover, &:visited, &:active
              {
                text-decoration: none !important;
                color: rgba(0, 0, 0, 0) !important;
              }
            }
            &.email-twtr
            {
              background: url('http://neuroclub.local/pub/static/frontend/Quinoid/neuroclub/en_US/images/twitter.png');
              background-repeat:no-repeat;
              background-position:center;
              font-size: 19px;
              color: transparent !important;
              text-decoration: none !important;
              padding: 0 0 0 5px;
              &:hover, &:visited, &:active
              {
                text-decoration: none !important;
                color: rgba(0, 0, 0, 0) !important;
              }
            }
            &.email-ggl
            {
              background: url('http://neuroclub.local/pub/static/frontend/Quinoid/neuroclub/en_US/images/google.png');
              background-repeat:no-repeat;
              background-position:center;
              color: transparent !important;
              text-decoration: none !important;
              font-size: 19px;
              padding: 0 0 0 8px;
              &:hover, &:visited, &:active
              {
                text-decoration: none !important;
                color: rgba(0, 0, 0, 0) !important;
              }
            }
            &.email-linkn
            {
              background: url('http://neuroclub.local/pub/static/frontend/Quinoid/neuroclub/en_US/images/linkedin.png');
              background-repeat:no-repeat;
              background-position:center;
              color: transparent !important;
              text-decoration: none !important;
              font-size: 21px;
              padding: 0 0 0 5px;
              &:hover, &:visited, &:active
              {
                text-decoration: none !important;
                color: rgba(0, 0, 0, 0) !important;
              }
            }
          }
        }
      }
    }
}


.footer
{
  background: #fff;
  border-top: 1px solid #ececec;
  .closing
  {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .email-store
  {
    margin-bottom: 50px;
  }
  .contact
  {
    margin-top: 0px;
    margin-bottom: 30px;
  }
}
table
{
  &.button
  {
    margin-top: 20px;
    margin-bottom: 20px;
    tbody
    {
      tr
      {
        td
        {
          padding-bottom: 0;
        }
      }
    }
    .inner-wrapper-button
    {
      .button-outer-td
      {
        background-color: #e66698;
        .action-button
        {
          border: 1px solid #e66698;
        }
      }
    }
  }
  tr
  {
    td
    {
      font-size: 16px;
      .company-name
      {
        margin-bottom: 25px;
        text-align: center;
        color: #364076;
        font-weight: 500;
        span
        {
          color: #000;
          font-weight: 700;
        }
      }
      .greet-customer
      {
        margin-bottom: 20px;
      }
      .greeting
      {
        margin-bottom: 20px;
        margin-top: 20px;
        line-height: 30px;
      }
      .content-email
      {
        margin-bottom: 10px;
        margin-top: 10px;
      }
      ul
      {
        list-style: none;
      }
      ul.listed-items
      {
        list-style: square;
        margin-left: 25px;
      }
      p, li, a
      {
        font-size: 16px;
      }
    }
  }
}
