<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magenest. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="magenest_stripe" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Stripe Payment Gateway</label>
                <group id="version" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Magenest\Stripe\Block\Adminhtml\System\Config\Fieldset\Version</frontend_model>
                </group>
                <group id="require" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Requirement Settings</label>
                    <field id="test" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Sandbox Mode Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/magenest_stripe/test</config_path>
                    </field>
                    <field id="test_publishable" translate="label" type="obscure" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Test Publishable Key</label>
                        <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                        <config_path>payment/magenest_stripe/test_publishable</config_path>
                        <depends>
                            <field id="test">1</field>
                        </depends>
                    </field>
                    <field id="test_secret" translate="label" type="obscure" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Test Secret Key</label>
                        <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                        <config_path>payment/magenest_stripe/test_secret</config_path>
                        <depends>
                            <field id="test">1</field>
                        </depends>
                    </field>
                    <field id="live_publishable" translate="label" type="obscure" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Live Publishable Key</label>
                        <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                        <config_path>payment/magenest_stripe/live_publishable</config_path>
                        <depends>
                            <field id="test">0</field>
                        </depends>
                    </field>
                    <field id="live_secret" translate="label" type="obscure" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Live Secret Key</label>
                        <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                        <config_path>payment/magenest_stripe/live_secret</config_path>
                        <depends>
                            <field id="test">0</field>
                        </depends>
                    </field>
                    <field id="email_customer" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Email Customer</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment>Allow Stripe to send receipts to customers upon payment success</comment>
                        <config_path>payment/magenest_stripe/email_customer</config_path>
                    </field>
                </group>

                <group id="stripe" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Stripe Payment</label>
                    <comment>Stripe payment method</comment>
                    <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/magenest_stripe/active</config_path>
                    </field>
                    <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Title</label>
                        <comment>Payment method title displayed on Checkout page</comment>
                        <config_path>payment/magenest_stripe/title</config_path>
                    </field>
                    <field id="payment_action" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment Action</label>
                        <source_model>Magenest\Stripe\Model\Source\PaymentAction</source_model>
                        <comment>Authorization expires in 7 days</comment>
                        <config_path>payment/magenest_stripe/payment_action</config_path>
                    </field>
                    <field id="api" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Select Stripe API Integration</label>
                        <source_model>Magenest\Stripe\Model\Source\Api</source_model>
                        <config_path>payment/magenest_stripe/api</config_path>
                        <comment>
                            <![CDATA[
                            PCI Compliance validation
                            <ol>
                                <li><strong>Stripe.js v3 & Elements.</strong> Pre-filled SAQ A</li>
                                <li><strong>Stripe.js v2.</strong> SAQ A-EP</li>
                                <li><strong>Directly to the API.</strong> SAQ D</li>
                            </ol>
                        ]]>
                        </comment>
                        <backend_model>Magenest\Stripe\Model\Config\Api</backend_model>
                    </field>
                    <field id="three_d_secure" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>3d secure</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment>An additional layer of authentication that protects you from liability for fraudulent card payments.</comment>
                        <config_path>payment/magenest_stripe/three_d_secure</config_path>
                        <depends>
                            <field id="api" separator=",">v2,v3</field>
                        </depends>
                    </field>
                    <field id="three_d_secure_verify" translate="label" type="multiselect" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>3d secure verify when</label>
                        <source_model>Magenest\Stripe\Model\Source\ThreedSecureAction</source_model>
                        <depends>
                            <field id="three_d_secure">1</field>
                            <field id="api" separator=",">v2,v3</field>
                        </depends>
                        <config_path>payment/magenest_stripe/three_d_secure_verify</config_path>
                        <comment>
                            <![CDATA[
                            <ol>
                                <li><strong>3D Secure is recommended.</strong> The process is not required, but you can be covered by liability shift with a minimal impact to your conversion rate.</li>
                                <li><strong>3D Secure is optional.</strong> The process isn’t required but can be performed to help reduce the likelihood of fraud.</li>
                            </ol>
                        ]]>
                        </comment>
                    </field>
                    <field id="save" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enable save card</label>
                        <source_model>Magenest\Stripe\Model\Source\SaveCard</source_model>
                        <comment>Save customers'card information on Stripe's server for quicker access in the future</comment>
                        <config_path>payment/magenest_stripe/save</config_path>
                        <depends>
                            <field id="api" separator=",">v2,v3</field>
                        </depends>
                    </field>
                    <field id="active_moto" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Enabled MOTO</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/magenest_stripe/active_moto</config_path>
                        <comment>Enable Mail And Telephone Orders</comment>
                    </field>
                    <field id="order_status" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>New Order Status</label>
                        <source_model>Magento\Sales\Model\Config\Source\Order\Status\Processing</source_model>
                        <config_path>payment/magenest_stripe/order_status</config_path>
                    </field>

                    <field id="cctypes" translate="label" type="multiselect" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Credit Card Types</label>
                        <source_model>Magenest\Stripe\Model\Source\Cctype</source_model>
                        <config_path>payment/magenest_stripe/cctypes</config_path>
                    </field>
                    <field id="allowspecific" translate="label" type="allowspecific" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment from Applicable Countries</label>
                        <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                        <config_path>payment/magenest_stripe/allowspecific</config_path>
                    </field>
                    <field id="specificcountry" translate="label" type="multiselect" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment from Specific Countries</label>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                        <config_path>payment/magenest_stripe/specificcountry</config_path>
                    </field>

                    <field id="instructions" translate="label" type="textarea" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Instructions</label>
                        <comment>Payment instructions for customer</comment>
                        <config_path>payment/magenest_stripe/instructions</config_path>
                    </field>

                    <field id="sort_order" translate="label" type="text" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Sort Order</label>
                        <validate>validate-number</validate>
                        <config_path>payment/magenest_stripe/sort_order</config_path>
                    </field>
                    <field id="min_order_total" translate="label" type="text" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Minimum Order Total</label>
                        <config_path>payment/magenest_stripe/min_order_total</config_path>
                    </field>
                    <field id="max_order_total" translate="label" type="text" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Maximum Order Total</label>
                        <config_path>payment/magenest_stripe/max_order_total</config_path>
                    </field>
                    <group id="stripe_additional_config" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="0">
                        <depends>
                            <field id="api" separator=",">v2,v3</field>
                        </depends>
                        <label>Subscription Configurations</label>
                        <field id="subscription_billing" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Subscription Billing</label>
                            <source_model>Magenest\Stripe\Model\Source\SubscriptionBilling</source_model>
                            <config_path>magenest/stripe_subscription/subscription_billing</config_path>
                        </field>
                        <field id="days_until_due" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Days Until Due</label>
                            <config_path>magenest/stripe_subscription/days_until_due</config_path>
                            <validate>validate-greater-than-zero</validate>
                            <depends>
                                <field id="subscription_billing">send_invoice</field>
                            </depends>
                        </field>
                        <field id="apply_tax" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Apply tax for each subscription item</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>magenest/stripe_subscription/apply_tax</config_path>
                        </field>
                        <!--<field id="create_order" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">-->
                        <!--<label>Create order as new billing cycle begins</label>-->
                        <!--<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>-->
                        <!--<config_path>magenest/stripe_subscription/create_order</config_path>-->
                        <!--</field>-->
                        <field id="cancel_period_end" translate="label" type="select" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Cancel at period end</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <comment>By enabling this, the subscription cancellation will be delayed until the end of the current period</comment>
                            <config_path>magenest/stripe_subscription/cancel_period_end</config_path>
                        </field>
                        <!--<field id="enable_total_cycle" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">-->
                        <!--<label>Enable Total Billing Cycle</label>-->
                        <!--<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>-->
                        <!--<comment>By enabling this, the customer can decide how many billing cycles that the subscription will go on</comment>-->
                        <!--<config_path>magenest/stripe_subscription/enable_total_cycle</config_path>-->
                        <!--</field>-->
                        <!--<field id="max_total_cycle" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">-->
                        <!--<label>Maximum Total Billing Cycle</label>-->
                        <!--<comment>customer can not set the total billing cycle larger than this figure</comment>-->
                        <!--<depends>-->
                        <!--<field id="enable_total_cycle">1</field>-->
                        <!--</depends>-->
                        <!--<validate>validate-number</validate>-->
                        <!--<config_path>magenest/stripe_subscription/max_total_cycle</config_path>-->
                        <!--</field>-->
                    </group>
                </group>

                <group id="magenest_stripe_iframe" translate="label" sortOrder="111" type="text" showInDefault="1" showInWebsite="1">
                    <label>Stripe IFrame Checkout Form</label>
                    <comment>Stripe payment method uses checkout.js</comment>
                    <field id="active" translate="label" sortOrder="10" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enable Stripe Checkout Form</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/magenest_stripe_iframe/active</config_path>
                    </field>
                    <field id="title" translate="label" sortOrder="20" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Title</label>
                        <config_path>payment/magenest_stripe_iframe/title</config_path>
                    </field>
                    <field id="payment_action" translate="label" type="select" sortOrder="21" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment Action</label>
                        <source_model>Magenest\Stripe\Model\Source\PaymentAction</source_model>
                        <comment>Authorization expires in 7 days</comment>
                        <config_path>payment/magenest_stripe_iframe/payment_action</config_path>
                    </field>
                    <field id="order_status" translate="label" type="select" sortOrder="22" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>New Order Status</label>
                        <source_model>Magento\Sales\Model\Config\Source\Order\Status\Processing</source_model>
                        <config_path>payment/magenest_stripe_iframe/order_status</config_path>
                    </field>
                    <field id="three_d_secure" translate="label" type="select" sortOrder="23" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>3d secure</label>
                        <source_model>Magenest\Stripe\Model\Source\IframeThreeDSecure</source_model>
                        <config_path>payment/magenest_stripe_iframe/three_d_secure</config_path>
                    </field>
                    <field id="display_name" translate="label" sortOrder="25" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Name of website displayed on Checkout</label>
                        <config_path>payment/magenest_stripe_iframe/display_name</config_path>
                    </field>
                    <field id="button_label" translate="label" sortOrder="28" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Panel label</label>
                        <config_path>payment/magenest_stripe_iframe/button_label</config_path>
                        <comment>The label of the payment button in the Checkout form</comment>
                    </field>
                    <!--<field id="allow_bitcoin" translate="label" sortOrder="30" type="select" showInDefault="1" showInWebsite="1" showInStore="0">-->
                        <!--<label>Accept Bitcoin Payment</label>-->
                        <!--<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>-->
                        <!--<config_path>payment/magenest_stripe_iframe/allow_bitcoin</config_path>-->
                    <!--</field>-->
                    <!--<field id="allow_alipay" translate="label" sortOrder="35" type="select" showInDefault="1" showInWebsite="1" showInStore="1">-->
                        <!--<label>Accept Alipay Payment</label>-->
                        <!--<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>-->
                        <!--<config_path>payment/magenest_stripe_iframe/allow_alipay</config_path>-->
                    <!--</field>-->
                    <field id="collect_billing" translate="label" sortOrder="36" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Allow Stripe Checkout to collect customer's billing address</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/magenest_stripe_iframe/collect_billing</config_path>
                    </field>
                    <field id="collect_shipping" translate="label" sortOrder="38" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Allow Stripe Checkout to collect customer's shipping address</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/magenest_stripe_iframe/collect_shipping</config_path>
                        <depends>
                            <field id="collect_billing">1</field>
                        </depends>
                    </field>
                    <field id="collect_zip" translate="label" sortOrder="40" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Allow Stripe Checkout to collect customer's zip code</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/magenest_stripe_iframe/collect_zip</config_path>
                        <depends>
                            <field id="collect_billing">1</field>
                        </depends>
                    </field>
                    <field id="allow_remember" translate="label" sortOrder="45" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Include option for "Remember Me" for future purchase</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/magenest_stripe_iframe/allow_remember</config_path>
                    </field>
                    <field id="upload_image_id" translate="label comment" type="image" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Logo Image</label>
                        <backend_model>Magenest\Stripe\Model\Source\Image</backend_model>
                        <base_url type="media" scope_info="1">stripe</base_url>
                        <config_path>payment/magenest_stripe_iframe/upload_image_id</config_path>
                    </field>
                    <field id="locale" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Locale</label>
                        <source_model>Magenest\Stripe\Model\Source\Locale</source_model>
                        <config_path>payment/magenest_stripe_iframe/locale</config_path>
                    </field>
                    <field id="sort_order" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Sort Order</label>
                        <validate>validate-number</validate>
                        <config_path>payment/magenest_stripe_iframe/sort_order</config_path>
                    </field>
                    <field id="allowspecific" translate="label" type="allowspecific" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment from Applicable Countries</label>
                        <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                        <config_path>payment/magenest_stripe_iframe/allowspecific</config_path>
                    </field>
                    <field id="specificcountry" translate="label" type="multiselect" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment from Specific Countries</label>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                        <config_path>payment/magenest_stripe_iframe/specificcountry</config_path>
                    </field>
                    <field id="min_order_total" translate="label" type="text" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Minimum Order Total</label>
                        <config_path>payment/magenest_stripe_iframe/min_order_total</config_path>
                    </field>
                    <field id="max_order_total" translate="label" type="text" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Maximum Order Total</label>
                        <config_path>payment/magenest_stripe_iframe/max_order_total</config_path>
                    </field>
                </group>

                <group id="magenest_stripe_applepay" translate="label" sortOrder="112" type="text" showInDefault="1" showInWebsite="1">
                    <label>Apple Pay, Google Pay, Microsoft Pay</label>
                    <comment>
                        <![CDATA[
                            <ol>
                                <li><strong>Apple Pay, Google Pay, Microsoft Pay</strong></li>
                                <li><strong>Stripe payment button only work with https domain</strong></li>
                                <li>
                                    <strong>For Apple Pay, before going live you need to verify domain with Apple
                                        <a target="_blank" href="https://stripe.com/docs/stripe-js/elements/payment-request-button#verifying-your-domain-with-apple-pay">click here</a>
                                    </strong>
                                </li>
                            </ol>
                        ]]>
                    </comment>

                    <field id="active" translate="label" sortOrder="10" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enable this method</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/magenest_stripe_applepay/active</config_path>
                    </field>
                    <field id="title" translate="label" sortOrder="20" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Title</label>
                        <config_path>payment/magenest_stripe_applepay/title</config_path>
                    </field>
                    <field id="payment_action" translate="label" type="select" sortOrder="21" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment Action</label>
                        <source_model>Magenest\Stripe\Model\Source\PaymentAction</source_model>
                        <config_path>payment/magenest_stripe_applepay/payment_action</config_path>
                        <comment>Authorization expires in 7 days</comment>
                    </field>
                    <field id="order_status" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>New Order Status</label>
                        <source_model>Magento\Sales\Model\Config\Source\Order\Status\Processing</source_model>
                        <config_path>payment/magenest_stripe_applepay/order_status</config_path>
                    </field>
                    <field id="replace_placeorder" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Replace default Place Order button</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/magenest_stripe_applepay/replace_placeorder</config_path>
                        <comment>
                            <![CDATA[
                                <p>Enable this option will cause conflict with One Step Checkout</p>
                                <p>If you're using One Step Checkout, choose No</p>
                            ]]>
                        </comment>

                    </field>
                    <field id="paybutton_type" translate="label" type="select" sortOrder="45" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Button Type</label>
                        <source_model>Magenest\Stripe\Model\Source\ApplePay\ButtonType</source_model>
                        <config_path>payment/magenest_stripe_applepay/paybutton_type</config_path>
                        <depends>
                            <field id="replace_placeorder">1</field>
                        </depends>
                    </field>
                    <field id="paybutton_theme" translate="label" type="select" sortOrder="47" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Button Theme</label>
                        <source_model>Magenest\Stripe\Model\Source\ApplePay\ButtonTheme</source_model>
                        <config_path>payment/magenest_stripe_applepay/paybutton_theme</config_path>
                        <depends>
                            <field id="replace_placeorder">1</field>
                        </depends>
                    </field>
                    <field id="sort_order" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Sort Order</label>
                        <validate>validate-number</validate>
                        <config_path>payment/magenest_stripe_applepay/sort_order</config_path>
                    </field>
                    <field id="allowspecific" translate="label" type="allowspecific" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment from Applicable Countries</label>
                        <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                        <config_path>payment/magenest_stripe_applepay/allowspecific</config_path>
                    </field>
                    <field id="specificcountry" translate="label" type="multiselect" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment from Specific Countries</label>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                        <config_path>payment/magenest_stripe_applepay/specificcountry</config_path>
                    </field>
                    <field id="min_order_total" translate="label" type="text" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Minimum Order Total</label>
                        <config_path>payment/magenest_stripe_applepay/min_order_total</config_path>
                    </field>
                    <field id="max_order_total" translate="label" type="text" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Maximum Order Total</label>
                        <config_path>payment/magenest_stripe_applepay/max_order_total</config_path>
                    </field>
                </group>

                <group id="magenest_stripe_giropay" translate="label" sortOrder="113" type="text" showInDefault="1" showInWebsite="1">
                    <label>Stripe GiroPay</label>
                    <comment><![CDATA[
                            <span style="color:red;">Your base currency must be EUR to use this method</span>
                            ]]></comment>
                    <field id="active" translate="label" sortOrder="10" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enable Giro Pay</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/magenest_stripe_giropay/active</config_path>
                    </field>
                    <field id="title" translate="label" sortOrder="20" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Title</label>
                        <config_path>payment/magenest_stripe_giropay/title</config_path>
                    </field>
                    <field id="order_status" translate="label" type="text" sortOrder="22" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>New Order Status</label>
                        <source_model>Magento\Sales\Model\Config\Source\Order\Status\Processing</source_model>
                        <config_path>payment/magenest_stripe_giropay/order_status</config_path>
                    </field>
                    <field id="allowspecific" translate="label" type="allowspecific" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment from Applicable Countries</label>
                        <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                        <config_path>payment/magenest_stripe_giropay/allowspecific</config_path>
                    </field>
                    <field id="specificcountry" translate="label" type="multiselect" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment from Specific Countries</label>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                        <config_path>payment/magenest_stripe_giropay/specificcountry</config_path>
                    </field>
                    <field id="sort_order" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Sort Order</label>
                        <validate>validate-number</validate>
                        <config_path>payment/magenest_stripe_giropay/sort_order</config_path>
                    </field>
                    <field id="min_order_total" translate="label" type="text" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Minimum Order Total</label>
                        <config_path>payment/magenest_stripe_giropay/min_order_total</config_path>
                    </field>
                    <field id="max_order_total" translate="label" type="text" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Maximum Order Total</label>
                        <config_path>payment/magenest_stripe_giropay/max_order_total</config_path>
                    </field>
                </group>

                <group id="magenest_stripe_alipay" translate="label" sortOrder="114" type="text" showInDefault="1" showInWebsite="1">
                    <label>Stripe Alipay</label>
                    <comment>
                        <![CDATA[
                            <p>Stripe Alipay</p>
                            <p>Support currency: aud, cad, eur, gbp, hkd, jpy, nzd, sgd, or usd</p>
                        ]]>
                    </comment>
                    <field id="active" translate="label" sortOrder="10" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enable Alipay</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/magenest_stripe_alipay/active</config_path>
                    </field>
                    <field id="title" translate="label" sortOrder="20" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Title</label>
                        <config_path>payment/magenest_stripe_alipay/title</config_path>
                    </field>
                    <field id="order_status" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>New Order Status</label>
                        <source_model>Magento\Sales\Model\Config\Source\Order\Status\Processing</source_model>
                        <config_path>payment/magenest_stripe_alipay/order_status</config_path>
                    </field>
                    <field id="allowspecific" translate="label" type="allowspecific" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment from Applicable Countries</label>
                        <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                        <config_path>payment/magenest_stripe_alipay/allowspecific</config_path>
                    </field>
                    <field id="specificcountry" translate="label" type="multiselect" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment from Specific Countries</label>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                        <config_path>payment/magenest_stripe_alipay/specificcountry</config_path>
                    </field>

                    <field id="sort_order" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Sort Order</label>
                        <validate>validate-number</validate>
                        <config_path>payment/magenest_stripe_alipay/sort_order</config_path>
                    </field>
                    <field id="min_order_total" translate="label" type="text" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Minimum Order Total</label>
                        <config_path>payment/magenest_stripe_alipay/min_order_total</config_path>
                    </field>
                    <field id="max_order_total" translate="label" type="text" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Maximum Order Total</label>
                        <config_path>payment/magenest_stripe_alipay/max_order_total</config_path>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>