.section-heading{
  text-align: center;
  h2{
    font-size: 25px;
    color: #374076;
    padding: 10px 0;
    margin-top: 0;
    margin-bottom: 0;
    @media only screen and (min-width: 468px){
      font-size: 30px;
    }
    @media only screen and (min-width: 768px){
      font-size: 40px;
    }
    @media only screen and (min-width: 991px){
        font-size: 50px;
        padding: 30px 0;
    }
  }
  strong{
    color: #000;
  }
}
p,a{
  font-size: 13px;
  @media only screen and (min-width: 468px){
    font-size: 14px;
  }
  @media only screen and (min-width: 768px){
    font-size: 16px;
  }
  @media only screen and (min-width: 991px){
    font-size: 18px;
  }
}
h4{
  color:#374076;
  font-size: 20px;
  margin-bottom: 1rem;
  @media only screen and (min-width: 468px){
    font-size: 25px;
  }
  @media only screen and (min-width: 768px){
    font-size: 30px;
  }
  @media only screen and (min-width: 991px){
    font-size: 35px;
    margin-bottom: 1rem;
  }
}
h3{
  color: #000;
  font-size: 14px;
  font-weight: 600;
  margin-top: 0;
  @media only screen and (min-width: 468px) {
    font-size: 16px;
  }
  @media only screen and (min-width: 768px){
    font-size: 18px;
  }
  @media only screen and (min-width: 991px){
    font-size: 20px;
  }
}
.clearfix{
  display: block;
  clear: both;
}
//Our flagship section
.flagships-static{
  margin: 20px 0;
  @media only screen and (min-width: 991px){
    margin: 40px 0;
  }
  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
  .section-product{
    text-align: center;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding: 15px;
    margin: 15px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    -webkit-box-shadow: 0px 2px 15px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 15px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 15px 1px rgba(0, 0, 0, 0.1);
    @media only screen and (min-width: 991px){
      -ms-flex: 0 0 26.9%;
      flex: 0 0 26.9%;
      max-width: 26.9%;
    }
    @media only screen and (min-width: 1044px){
      -ms-flex: 0 0 27.333333%;
      flex: 0 0 27.333333%;
      max-width: 27.333333%;
      padding:45px 15px;
    }
    @media only screen and (min-width: 1278px){
      -ms-flex: 0 0 28.2%;
      flex: 0 0 28.2%;
      max-width: 28.2%;
    }
  }
}
//How all it works section
.works-section{
  .work-content{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    .work-content-block{
      text-align: center;
      position: relative;
      width: 100%;
      min-height: 1px;
      padding: 15px;
      margin: 15px;
      background-color: #ffffff;
      border: 1px solid #ffffff;
      @media only screen and (max-width: 991px){
      -webkit-box-shadow: 0px 2px 15px 1px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0px 2px 15px 1px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 2px 15px 1px rgba(0, 0, 0, 0.1);
      }
      @media only screen and (min-width: 991px){
        -ms-flex: 0 0 26.9%;
        flex: 0 0 26.9%;
        max-width: 26.9%;
      }
      @media only screen and (min-width: 1044px){
        -ms-flex: 0 0 27.333333%;
        flex: 0 0 27.333333%;
        max-width: 27.333333%;
        padding:45px 15px;
      }
      @media only screen and (min-width: 1278px){
        -ms-flex: 0 0 28.2%;
        flex: 0 0 28.2%;
        max-width: 28.2%;
      }
      h4{
        text-transform: uppercase;
        @media only screen and (min-width: 991px){
            padding: 40px 0;
        }
      }
      a{
        color: #374076;
        font-weight: 700;
        text-decoration: none;
      }
    }
  }
}
//FAQ section
.page-bottom{
  @media only screen and (min-width: 768px){
   width: 100% !important;
 }
  .faq-collection{
    .section-button{
        padding: 20px 0;
        text-align: center;
      @media only screen and (min-width: 991px){
        padding: 40px 0;
      }
      button{
        background: #374076;
        border-radius: 20px;
        box-shadow: none !important;
        color: #fff;
        font-size: 14px;
        letter-spacing: 1px;
        padding: 10px 20px;
        text-transform: uppercase;
        @media only screen and (min-width: 768px){
          font-size: 16px;
          padding: 10px 25px;
        }
        @media only screen and (min-width: 991px){
          font-size: 20px;
          padding: 13px 35px;
        }
      }
    }
    .faq-content{
      .ui-accordion{
          .ui-accordion-header {
            color: #374076;
            font-size: 14px;
      			font-weight: 600;
            margin: 0;
            padding: 1.7em .5em 1.7em 1em;
      			text-transform: uppercase;
            -webkit-margin-before: 0;
            -webkit-margin-after: 0;
      			@media only screen and (min-width: 468px) {
      				font-size: 16px;
      			}
      			@media only screen and (min-width: 768px){
      				font-size: 18px;
      			}
            @media only screen and (min-width: 991px){
      				font-size: 20px;
      			}
            &:hover{
              background: #ffffff;
            }
          }
          .ui-accordion-content {
            border-top: 0;
            padding: 1.7em .5em 1.7em 1em;
            overflow: auto;
          }
          .ui-state-default{
            background: #ffffff;
            &:after {
              content: '\002B';
              font-family: 'luma-icons';
              font-size: 25px;
              line-height: 14px;
              @media only screen and (min-width: 991px){
        				  font-size: 35px;
        			}
            }
          }
          .ui-accordion-header-active{
            &:after{
              content: '\2212';
              font-family: 'luma-icons';
            }
          }
        }
        .ui-state-default, .ui-widget-content, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
          border: 1px solid rgba(197, 197, 197, 0.21);
          border-left: none;
          border-right: none;
          font-weight: normal;
          color: #454545;
        }
    }
  }
}
//Footer
// .faq-collection {
//     float: none !important;
// }
// .faq-content {
//     @media only screen and (max-width: 768px){
//     width: 93% !important;
//   }
// }
.content{
  border-top: none !important;
  }
.footer-disclaimer{
  @media only screen and (max-width: 991px){
    text-align: center;
  }
  p{
    font-size: 12px;
    margin-bottom: 0;
  }
}
.footer-copyright{
  @media only screen and (max-width: 991px){
    float: none;
    text-align: center;
  }
}
.home-banner-grid{
  position: relative;
  padding-bottom: 50.65%;
  height: 0;
  overflow: hidden;
   iframe,  object,  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
}
}
.carousel{
  .owl-carousel{
    .owl-wrapper-outer{
      .owl-item{
        .item{
          img, object, video, embed {
            height: auto;
            width: 100%;
          }
        }
      }
    }
  }
}
