.section-heading{
  text-align: center;
  h2{
    font-size: 25px;
    color: #374076;
    padding: 10px 0;
    margin-top: 0;
    margin-bottom: 0;
    @media only screen and (min-width: 468px){
      font-size: 30px;
    }
    @media only screen and (min-width: 768px){
      font-size: 40px;
    }
    @media only screen and (min-width: 991px){
        font-size: 50px;
        padding: 30px 0;
    }
  }
  p
  {
    padding-bottom:10px;
    @media only screen and (min-width: 991px){
      padding-bottom:30px;
      margin-bottom:0;
    }
  }
  strong{
    color: #000;
  }
}
p,a{
  font-size: 13px;
  @media only screen and (min-width: 468px){
    font-size: 14px;
  }
  @media only screen and (min-width: 768px){
    font-size: 16px;
  }
  @media only screen and (min-width: 991px){
    font-size: 18px;
  }
}
h4{
  color:#374076;
  font-size: 20px;
  margin-bottom: 1rem;
  @media only screen and (min-width: 468px){
    font-size: 25px;
  }
  @media only screen and (min-width: 768px){
    font-size: 30px;
  }
  @media only screen and (min-width: 991px){
    font-size: 35px;
    margin-bottom: 1rem;
  }
}
h6{
  color:#fff;
  font-size: 18px;
  @media only screen and (min-width: 468px){
    font-size: 22px;
  }
  @media only screen and (min-width: 768px){
    font-size: 26px;
  }
  @media only screen and (min-width: 1024px){
    font-size: 30px;
  }
}
h3{
  color: #000;
  font-size: 14px;
  font-weight: 600;
  margin-top: 0;
  @media only screen and (min-width: 468px) {
    font-size: 16px;
  }
  @media only screen and (min-width: 768px){
    font-size: 18px;
  }
  @media only screen and (min-width: 991px){
    font-size: 20px;
  }
}
.clearfix{
  display: block;
  clear: both;
}
//Our flagship section
.flagships-static{
  margin: 20px 0;
  @media only screen and (min-width: 991px){
    margin: 40px 0;
  }
  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
  .section-product{
    text-align: center;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding: 15px;
    margin: 15px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    -webkit-box-shadow: 0px 2px 15px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 15px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 15px 1px rgba(0, 0, 0, 0.1);
    @media only screen and (min-width: 991px){
      -ms-flex: 0 0 26.9%;
      flex: 0 0 26.9%;
      max-width: 26.9%;
    }
    @media only screen and (min-width: 1044px){
      -ms-flex: 0 0 27.333333%;
      flex: 0 0 27.333333%;
      max-width: 27.333333%;
      padding:45px 15px;
    }
    @media only screen and (min-width: 1278px){
      -ms-flex: 0 0 28.2%;
      flex: 0 0 28.2%;
      max-width: 28.2%;
    }
  }
}
//How all it works section
.works-section{
  .work-content{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    .work-content-block{
      text-align: center;
      position: relative;
      width: 100%;
      min-height: 1px;
      padding: 15px;
      margin: 15px;
      background-color: #ffffff;
      border: 1px solid #ffffff;
      @media only screen and (max-width: 991px){
      -webkit-box-shadow: 0px 2px 15px 1px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0px 2px 15px 1px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 2px 15px 1px rgba(0, 0, 0, 0.1);
      }
      @media only screen and (min-width: 991px){
        -ms-flex: 0 0 26.9%;
        flex: 0 0 26.9%;
        max-width: 26.9%;
      }
      @media only screen and (min-width: 1044px){
        -ms-flex: 0 0 27.333333%;
        flex: 0 0 27.333333%;
        max-width: 27.333333%;
        padding:45px 15px;
      }
      @media only screen and (min-width: 1278px){
        -ms-flex: 0 0 28.2%;
        flex: 0 0 28.2%;
        max-width: 28.2%;
      }
      h4{
        text-transform: uppercase;
        @media only screen and (min-width: 991px){
            padding: 40px 0;
        }
      }
      a{
        color: #374076;
        font-weight: 700;
        text-decoration: none;
      }
    }
  }
}
//Blog Section
.blog-section{
  width:100%;
  margin:0 auto;
  @media only screen and (min-width:1024px){
    width:80%;
  }
  .blog-container
  {
    @media only screen and (max-width: 479px){
    -webkit-box-shadow: 0px 2px 15px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 15px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 15px 1px rgba(0, 0, 0, 0.1);
    margin-bottom:30px;
    }
    .blog-content{
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
      .blog-content-block{
        text-align: center;
        position: relative;
        width: 100%;
        min-height: 1px;
        margin: 0 15px;
        margin-bottom: 30px;
        background-color: #ffffff;
        border: 1px solid #ffffff;
        @media all and (max-width:479px){
          margin-bottom: 0;
          &:nth-child(2){
            display: none;
          }
        }
        @media only screen and (min-width: 480px){
          -ms-flex: 0 0 43.32%;
          flex: 0 0 43.32%;
          max-width: 43.32%;
        }
        @media only screen and (min-width: 534px){
          -ms-flex: 0 0 44%;
          flex: 0 0 44%;
          max-width: 44%;
        }
        @media only screen and (min-width: 640px){
          -ms-flex: 0 0 45%;
          flex: 0 0 45%;
          max-width: 45%;
        }
        @media only screen and (min-width: 711px){
          -ms-flex: 0 0 45.5%;
          flex: 0 0 45.5%;
          max-width: 45.5%;
        }
        @media only screen and (min-width: 810px){
          -ms-flex: 0 0 46%;
          flex: 0 0 46%;
          max-width: 46%;
        }
        @media only screen and (min-width: 1145px){
          -ms-flex: 0 0 46.5%;
          flex: 0 0 46.5%;
          max-width: 46.5%;
        }
        img
        {
          width:100%;
        }
        .blog-content-details
        {
          padding:0 15px;
          @media all and (max-width:1024px) {
              padding-bottom: 15px;
          }
          h4{
            color:#000000;
            font-size: 18px;
            @media only screen and (min-width: 468px){
              font-size: 22px;
            }
            @media only screen and (min-width: 768px){
              font-size: 26px;
            }
            @media only screen and (min-width: 1024px){
              font-size: 30px;
            }
          }
          p,a{
            font-size: 13px;
            @media only screen and (min-width: 468px){
              font-size: 14px;
            }
            @media only screen and (min-width: 768px){
              font-size: 16px;
            }
            @media only screen and (min-width: 1024px){
              font-size: 18px;
            }
          }
          p
          {
            text-align:justify;
            color:#979797;
            margin-bottom: 20px;
          }
          a{
            color: #374076;
            font-weight: 700;
            border-bottom:1px solid #374076;
          }
        }
      }
    }
    .section-button{
        padding: 30px 0;
        padding-top: 15px;
        text-align: center;
      @media only screen and (min-width: 1024px){
      
        padding-top: 40px;
      }
      button{
        background: #374076;
        border-radius: 20px;
        box-shadow: none !important;
        color: #fff;
        font-size: 14px;
        letter-spacing: 1px;
        padding: 10px 20px;
        text-transform: uppercase;
        @media only screen and (min-width: 768px){
          font-size: 16px;
          padding: 10px 25px;
        }
        @media only screen and (min-width: 991px){
          font-size: 20px;
          padding: 13px 35px;
        }
      }
    }
  }
}
//FAQ section
.page-bottom{
  @media only screen and (min-width: 768px){
   width: 100% !important;
 }
  .faq-collection{
    .section-button{
        padding: 20px 0;
        text-align: center;
      @media only screen and (min-width: 991px){
        padding: 40px 0;
      }
      button{
        background: #374076;
        border-radius: 20px;
        box-shadow: none !important;
        color: #fff;
        font-size: 14px;
        letter-spacing: 1px;
        padding: 10px 20px;
        text-transform: uppercase;
        @media only screen and (min-width: 768px){
          font-size: 16px;
          padding: 10px 25px;
        }
        @media only screen and (min-width: 991px){
          font-size: 20px;
          padding: 13px 35px;
        }
      }
    }
    .faq-content{
      .ui-accordion{
          .ui-accordion-header {
            color: #374076;
            font-size: 14px;
      			font-weight: 600;
            margin: 0;
            padding: 1.7em .5em 1.7em 1em;
      			text-transform: uppercase;
            -webkit-margin-before: 0;
            -webkit-margin-after: 0;
      			@media only screen and (min-width: 468px) {
      				font-size: 16px;
      			}
      			@media only screen and (min-width: 768px){
      				font-size: 18px;
      			}
            @media only screen and (min-width: 991px){
      				font-size: 20px;
      			}
            &:hover{
              background: #ffffff;
            }
          }
          .ui-accordion-content {
            border-top: 0;
            padding: 1.7em .5em 1.7em 1em;
            overflow: auto;
          }
          .ui-state-default{
            background: #ffffff;
            &:after {
              content: '\002B';
              font-family: 'luma-icons';
              font-size: 25px;
              line-height: 14px;
              @media only screen and (min-width: 991px){
        				  font-size: 35px;
        			}
            }
          }
          .ui-accordion-header-active{
            &:after{
              content: '\2212';
              font-family: 'luma-icons';
            }
          }
        }
        .ui-state-default, .ui-widget-content, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
          border: 1px solid rgba(197, 197, 197, 0.21);
          border-left: none;
          border-right: none;
          font-weight: normal;
          color: #454545;
        }
    }
  }
}
.content{
  border-top: none !important;
  }
.footer-disclaimer{
  @media only screen and (max-width: 991px){
    text-align: center;
  }
  p{
    font-size: 12px;
    margin-bottom: 0;
  }
}
.footer-copyright{
  @media only screen and (max-width: 991px){
    float: none;
    text-align: center;
  }
}
//Hearo banner
.home-banner-grid{
  position: relative;
  padding-bottom: 50.65%;
  height: 0;
  overflow: hidden;
   iframe,  object,  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
}
}
.carousel{
  .owl-carousel{
    .owl-wrapper-outer{
      .owl-item{
        .item{
          img, object, video, embed {
            height: auto;
            width: 100%;
          }
        }
      }
    }
  }
}
//Static banner
.columns .column.main {
  padding-bottom: 0;
  }
.static-banner{
    position: relative !important;
  img{
    width: 100%;
    min-height: 200px;
    position: relative !important;
  }
  h4{
    color: #fff;
    text-transform: uppercase;
  }
  .banner-content{
    color: #FFF;
    left: 0%;
    position: absolute;
    text-align: center;
    top: 5%;
    width: 100%;
    @media only screen and (min-width: 768px){
      top: 20%;
      left: 0;
      width: 100%;

    }
    @media only screen and (min-width: 991px){
      top: 25%;
      left: 10%;
      width: 50%;
      text-align: left;
    }
  }
  .banner-button{
    button{
      background: #e66698;
      border-radius: 20px;
      box-shadow: none !important;
      border: 1px solid #e66698;
      color: #fff;
      font-size: 14px;
      letter-spacing: 1px;
      padding: 10px 20px;
      text-transform: capitalize;
      @media only screen and (min-width: 768px){
        font-size: 16px;
        padding: 10px 25px;
      }
      @media only screen and (min-width: 991px){
        font-size: 20px;
        padding: 13px 35px;
      }
    }
  }
}
