body
{
  margin:0;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}
.clearfix{
  display: block;
  clear: both;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.margin{
  margin: 15px 0;
  @media only screen and (min-width: 768px){
    margin: 20px 0;
  }
  @media only screen and (min-width: 991px){
    margin: 35px 0;
  }
}
.section-heading{
  text-align: center;
  p{
    color: #6e6e6e;
    padding-bottom:10px;
    @media only screen and (min-width: 991px){
      padding-bottom:30px;
      margin-bottom:0;
    }
  }
  strong{
    color: #000;
    font-weight: 600;
  }
}
.section-button{
    padding: 25px 0 0 0;
    padding-top: 15px;
    text-align: center;
  @media only screen and (min-width: 1024px){

    padding-top: 30px;
  }
  button{
    background: #374076;
    border-radius: 20px;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #374076;
  }
}
h2{
  font-size: 25px;
  color: #374076;
  padding: 10px 0;
  margin-top: 0;
  margin-bottom: 0;
  @media only screen and (min-width: 468px){
    font-size: 30px;
  }
  @media only screen and (min-width: 768px){
    font-size: 40px;
  }
  @media only screen and (min-width: 991px){
      font-size: 50px;
      padding: 30px 0;
  }
}
h4{
  color:#374076;
  font-size: 25px;
  margin-bottom: 1rem;
  @media only screen and (min-width: 468px){
    font-size: 30px;
  }
  @media only screen and (min-width: 768px){
    font-size: 35px;
  }
  @media only screen and (min-width: 991px){
    font-size: 40px;
    margin-bottom: 1rem;
  }
}
h6{
  color:#fff;
  font-size: 18px;
  @media only screen and (min-width: 468px){
    font-size: 22px;
  }
  @media only screen and (min-width: 768px){
    font-size: 26px;
  }
  @media only screen and (min-width: 1024px){
    font-size: 30px;
  }
}
p{
  font-size: 14px;
  color: #6e6e6e;
  @media only screen and (min-width: 468px){
    font-size: 15px;
  }
  @media only screen and (min-width: 768px){
    font-size: 16px;
  }
  @media only screen and (min-width: 991px){
    font-size: 17px;
  }
}
a{
  font-size: 14px;
  text-decoration: none;
  &:hover , &:focus, &:active {
      text-decoration: none;
  }
  @media only screen and (min-width: 768px){
    font-size: 16px;
  }
  @media only screen and (min-width: 991px){
    font-size: 20px;

  }
}
.button-style-1{
  background: #e66698;
  border: 1px solid #e66698;
  border-radius: 20px;
  color: #fff;
  padding: 10px 25px;
  margin-bottom: 15px;
}
button{
  box-shadow: none !important;
  font-weight: 600;
  font-size: 16px;
  @media only screen and (min-width: 468px){
    font-size: 17px;
  }
  @media only screen and (min-width: 768px){
    font-size: 18px;
  }
  @media only screen and (min-width: 991px){
    font-size: 20px;
  }
  &:hover , &:focus, &:active {
    background: #e66698;
    border: 1px solid #e66698;
    color: #fff;
  }
}
.catalog-category-view{
.breadcrumbs{
  display: none;
  }
.page-main
  {
    margin-top:115px;
    @media all and (max-width:767px)
    {
      margin-top:76px;
    }
    .category-image
    {
      margin-bottom: 0;
      img
      {
        width:100%;
      }
    }
    .page-title-wrapper
    {
      display: none;
    }
    .columns
    {
      padding:0 !important;
      .column
      {
        padding:0 !important;
      }
    }
  }
.inner-container
{
  width:70%;
  margin: 0 auto;
  max-width:1280px;
  box-sizing: border-box;
  &:after
  {
    content: "";
    clear: both;
    display: table;
  }
  @media all and (max-width:1024px)
  {
    width:80%;
  }
  @media all and (max-width:767px)
  {
    width:100%;
    padding:0 15px;
  }
}
.page-main,.page-bottom{
  max-width: 100% !important;
  background: #fafafa;
  // background: #fff;
  padding-left: 1px;
  padding-right: 1px;
  @media only screen and (min-width: 768px){
    background: #fff;
  }
}
.plp-container
{
  .plp-heading
  {
    h2
    {
      margin-bottom: 0;
      padding: 30px 0;
      @media all and (min-width:991px)
      {
        padding:50px 0;
      }
    }
  }
  .plp-item-container
  {
    .plp-item
    {
      padding:4em 0;
      &:nth-child(odd)
      {
        .item-image
        {
          float: left;

          @media all and (max-width:767px)
          {
            float:none;
          }
        }
      }
      &:nth-child(even)
      {
        .item-image
        {
          float: right;
          @media all and (max-width:767px)
          {
            float:none;
          }
        }
      }
      &:nth-child(4n+1)
      {
        background: radial-gradient(#ffffff,#ecfcf2);
      }
      &:nth-child(4n+2)
      {
        background: radial-gradient(#ffffff,#edeffc);
      }
      &:nth-child(4n+3)
      {
        background: radial-gradient(#ffffff,#d8f0fc);
      }
      &:nth-child(4n+4)
      {
        background: radial-gradient(#ffffff,#fff1f1);
      }
      @media all and (max-width: 767px)
      {
        padding:2em 0;
      }
      .item-image
      {
        width:40%;
        text-align: center;
        box-sizing: border-box;
        @media all and (max-width:767px)
        {
          float: none;
          width: 280px;
          margin: 0 auto;
          margin-bottom: 20px;
        }
        img
        {
          max-width: 100%;
        }
      }
      .item-content
      {
        float:left;
        width:60%;
        box-sizing: border-box;
        padding-right: 5em;
        padding-left: 5em;
        padding-top: 40px;
        @media all and (max-width:1280px)
        {
          padding-right:2em;
          padding-left: 2em;
        }
        @media all and (max-width:1024px)
        {
          padding-top:20px;
        }
        @media all and (max-width:767px)
        {
          float: none;
          width:100%;
          text-align: center;
          padding: 0;
        }
        h6
        {
          a
          {
            font-size: 18px;
            color: #374076;
            font-weight:600;
            text-transform:uppercase;
            @media only screen and (min-width: 468px){
              font-size: 22px;
            }
            @media only screen and (min-width: 768px){
              font-size: 26px;
            }
            @media only screen and (min-width: 1024px){
              font-size: 30px;
            }
          }
        }
        .medicine-type
        {
          p
          {
            margin:1em 0;
            margin-top:10px;
            color:#374076;
            text-transform: uppercase;
            font-size: 14px;
            @media only screen and (min-width: 768px){
              font-size: 16px;
            }
            @media only screen and (min-width: 991px){
              font-size: 20px;
            }
          }
        }
        .description
        {
          p
          {
            color:#434242;
          }
        }
        .product-item-actions
        {
          display:block !important;
          @media all and (max-width:767px)
          {
            text-align: center;
          }
          .actions-primary
          {
            @media all and (max-width:767px)
            {
              display:block;
            }
            .plp-item-button
            {
              text-align: left;
              @media all and (max-width:767px)
              {
                text-align: center;
              }
              button
              {
                background: #e66698;
                border: 1px solid #e66698;
                padding:10px 20px;
                font-size: 16px;
                @media only screen and (min-width: 468px){
                  font-size: 17px;
                }
                @media only screen and (min-width: 768px){
                  font-size: 18px;
                }
                @media only screen and (min-width: 991px){
                  font-size: 20px;
                }
                span
                {
                  text-transform: capitalize;
                }
              }
            }
          }
        }
      }
    }
  }
}

.plp-bottom
{
  padding:50px 0;
  border-bottom: 1px solid #ececec;
  @media all and (max-width:1024px)
  {
    padding:30px 0;
  }
  @media all and (max-width:767px)
  {
    padding:0;
  }
  .plp-bottom-container
  {
    .desktop-view{
      display: none;
      @media only screen and (min-width: 479px){
        display: block;
      }
    }
    .mobile-view{
      display: block;
      @media only screen and (min-width: 479px){
        display: none;
      }
    }
    .plp-bottom-banner
    {
      width:100%;
      img
      {
        width:100%;
      }
    }
  }
}
