.keyframes(@name, @frames) {
    @-webkit-keyframes @name { @frames(); }
    @-moz-keyframes @name { @frames(); }
    @-ms-keyframes @name { @frames(); }
    @-o-keyframes @name { @frames(); }
    @keyframes @name { @frames(); }
}
/* Styling for create new account starts here*/
.customer-account-create {
	.page-wrapper {
		#maincontent {
			margin-top:105px;
			@media all and (min-width:768px){
				margin-top:155px;
			}
			.page-title-wrapper {
				text-align:center;
				.page-title {
					display:none;
				}
			}
			.title-heading {
			  font-size: 25px;
			  color: #374076;
			  padding-top: 10px;
			  margin-top: 0;
			  margin-bottom: 0;
			  text-align:center;
			  @media only screen and (min-width: 468px){
			    font-size: 30px;
			  }
			  @media only screen and (min-width: 768px){
			    font-size: 40px;
			  }
			  @media only screen and (min-width: 991px){
			      font-size: 50px;
			      padding-top: 30px;
			  }
		      strong{
			    color: #000;
			    font-weight: 600;
			  }
			}
			.form {
				&.form-create-account{
					box-shadow:0px 0px 5px 1px #f1f1f1;
					padding:20px 10px;
					margin:30px auto;
					margin-bottom:0;
					@media all and (min-width:991px){
						padding:50px 125px;
						padding-top:70px;
						min-width: 800px;
					    box-sizing:border-box;
	    				margin: 50px auto;
					    width: 50%;
					}
					@media all and (min-width:768px) and (max-width:990px){
					    min-width: 720px;
					    padding: 50px 75px;
					    padding-top:70px;
					    box-sizing:border-box;
	    				margin: 50px auto;
					    width: 50%;
					}
					.fieldset{
						margin:0;
						.legend {
							display:none;
						}
						br{
							display:none;
						}
						.field{
							@media all and (min-width:768px){
								float:left;
								width:48%;
							}
							&.field:nth-child(odd){
								@media all and (min-width:768px)
								{
									margin-right:2%;
								}
							}
							&.field:nth-child(even){
								@media all and (min-width:768px)
								{
									margin-left:2%;
								}
							}
							&.field-name-lastname {
							 @media all and (max-width:767px){
							 	margin-bottom:20px;
							 }
							}
							&.newsletter {
							    width: 100%;
							    margin-right: 0 !important;
							    margin-top: 20px;
								@media all and (max-width:767px){
									margin:0;
								}
								.label {
									color:#8f8f8f;
								}
								.checkboxes{
									float:left;
									margin-right:10px;
									label {
									  display: inline-block;
									  user-select: none;
									  position: relative;
									  width: 15px;
									  height: 15px;
									  padding: 2px;
									  border:1px solid rgba(0, 0, 0, 0.3);
									  border-radius:2px;
									  transition-duration:0.25s;
									  cursor: pointer;
									  overflow: hidden;
									  color: rgba(0, 0, 0, 0.1);
									  text-align: center;
									  	&:after {
										    content: '';
										}
									  &:hover {
									    border:1px solid rgba(0, 0, 0, 0.5);
									    color: rgba(0, 0, 0, 0.3);
									  }
									  &:active {
									    transition-duration:0;
									    -webkit-filter: brightness(0.8);
									  }
									}

									input[type='checkbox'] {
									    display: none;
									  &:checked  {
									    + label {
									      color: #007aff;
									    }
									    + .blue-background {
										  &:after {
										    content: '';
										    display: block;
											margin-left: 4px;
										    margin-top: -2px;
										    width: 5px;
										    height: 15px;
										    border: solid rgba(51, 62, 116, 0.8);
										    border-width: 0 2px 2px 0;
										    transform:rotate(45deg);
										  }
									        }
									    + label {
									      animation:boom 0.5s ease;
									    }
									  }
									}
									}
									.keyframes(boom, {
	 									25% {
									    	transform:scale(1.25);
									  	}
									});
							}
							.label{
								&:after{
									content:'';
									margin:0;
								}
							}
							.control{
								input
								{
									height:40px;
								}
								&.mobile_number 	{
									position:relative;
									span{
										position:absolute;
										top:11px;
										left:10px;
									}
									input {
										text-indent: 27px;
									}
								}
							}
						}
					}
					.actions-toolbar {
						margin-top:0;
						@media all and (min-width:768px){
							margin-top:50px;
						}
						.primary{
							float:none;
							display:block;
							@media all and (max-width:767px)
							{
								margin:0;
							}
							.action{
								position:fixed;
								z-index:10;
								bottom:0;
								left:0;
								width:100%;
								height:50px;
								border-radius:0;
								margin:0 auto;
								background: #e66698 !important;
	   							border: 1px solid #e66698 !important;
	   							span {
	   								font-size:16px;
	   							}
								@media all and (min-width:768px){
									position:static;
								    min-width: 350px;
								    width: 50%;
								    height: 45px;
								    border-radius: 50px;
								}
							}
						}
					}
				}
			}
		}
		.page-footer{
			.footer-bottom{
				@media all and (max-width:767px){
					margin-bottom:70px;
				}
				.footer-copyright{
					@media all and (max-width:767px){
						padding-left:0;
					}
					.copyright{
						@media all and (max-width:767px)
						{
							padding:10px 0;
						}
					}
				}
			}
		}
	}
}
/* Styling for create new account ends here*/
/* Styling for log in page starts here*/
.customer-account-login {
	.page-wrapper {
		#maincontent {
			margin-top:105px;
			@media all and (min-width:768px){
				margin-top:155px;
			}
			.page-title-wrapper {
				text-align:center;
				.page-title{
					display:none;
				}
			}
			.login-container	{
				.block-customer-login{
					float:none;
					box-shadow:0px 0px 5px 1px #f1f1f1;
					padding:20px 10px;
					margin:30px auto;
					margin-bottom:0;
					@media all and (min-width:991px){
						padding:50px 125px;
						padding-top:70px;
						min-width: 800px;
					    box-sizing:border-box;
	    				margin: 50px auto;
					    width: 50%;
					}
					@media all and (min-width:768px) and (max-width:990px){
					    min-width: 720px;
					    padding: 50px 75px;
					    padding-top:70px;
					    box-sizing:border-box;
	    				margin: 50px auto;
					    width: 50%;
					}
				    .block-title{
				    	display:none;
				    }
				}
				.block-new-customer	{
					display:none;
				}
				.block-content{
					margin: 0 auto;
					@media all and (min-width:768px){
						width: 350px;
					}
					.form {
						.fieldset	{
							.note {
								display:none;
							}
							.field {
								label{
									display:none;
								}
								.control{
									width:100%;
									input {
										height:40px;
									}
								}
							}
							.actions-toolbar{
								position:relative;
								@media all and (max-width:767px){
									width: 100%;
								}
								.primary{
									float:none;
									display:block;
									margin-top:50px;
									@media all and (max-width:767px){
										margin:0;
									}
									.action{
										position:fixed;
										z-index:10;
										bottom:0;
										left:0;
										width:100%;
										height:50px;
										border-radius:0;
										margin:0 auto;
										background: #e66698 !important;
			   							border: 1px solid #e66698 !important;
			   							span {
			   								font-size:16px;
			   							}
										@media all and (min-width:768px){
											position:static;
										    min-width: 350px;
										    width: 50%;
										    height: 45px;
										    border-radius: 50px;
										}
									}
								}
								.secondary{
									position: absolute;
    								top: 0;
    								.remind{
    									font-size:14px;
    									color:#374076;
    									font-weight:600;
    								}
    								@media all and (max-width:767px){
    									width: 100%;
    								}
								}
							}
							&:after {
								display:none;
							}
						}
					}
				}
			}
		}
		.page-footer{
			.footer-bottom	{
				@media all and (max-width:767px){
					margin-bottom:70px;
				}
				.footer-copyright{
					@media all and (max-width:767px){
						padding-left:0;
					}
					.copyright{
						@media all and (max-width:767px)
						{
							padding:10px 0;
						}
					}
				}
			}
		}
	}
}
//Account- My dashboard page-title
.account{
  a,a:active, .alink:active {
    color: #006bb4;
    font-size: 15px !important;
  }
  .actions-toolbar .primary .action {
    margin: 0 ;
  }
  .form-address-edit .actions-toolbar .action.primary{
    line-height: 1.2rem;
  }
  button{
    background: #e66698;
    border-color: #e66698;
  }
  button:hover, .action.primary:hover,  .action.primary:focus{
    @media only screen and (min-width: 91px){
      background: #333e74;;
      border: 1px solid #333e74;;
    }
    background: #e66698;
    border: 1px solid #e66698;
    color: #fff;
  }
  .page-wrapper{
    margin-top:65px;
    @media only screen and (min-width: 768px){
      margin-top:150px;
    }
    .legend{
      padding: 10px;
      @media only screen and (min-width: 768px){
      padding: 20px;
      }
    }

    .sidebar {
      .block-collapsible-nav{
        .content {
          background-color: #ffffff;
          border: 4px solid #ffffff;
          -webkit-box-shadow: 0px 2px 15px 1px rgba(0, 0, 0, 0.1);
          -moz-box-shadow: 0px 2px 15px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 15px 1px rgba(0, 0, 0, 0.1);
        }
        ul{
          li{
            border-bottom: 1px solid #d1d1d169;
            &:last-child{
              border: none;
            }
          }
        }
        .item.current > strong {
          border-color: transparent !important;
          color: #006bb4;
        }
         .item a, .item > strong {
          color: #000;
          font-size:1.4rem;
          padding:12px 18px 12px 15px;
          border-color: transparent !important;
        }
        .item a:hover {
        background: #fff;
        color: #006bb4;
        font-weight: 600;
        }
      }
      .block-reorder{
        background-color: #ffffff;
        border: 4px solid #ffffff;
        padding: 5px;
        -webkit-box-shadow: 0px 2px 15px 1px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 2px 15px 1px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 2px 15px 1px rgba(0, 0, 0, 0.1);
        @media only screen and (min-width: 991px){
        padding: 15px;
        }
        .block-title{
          strong{
            font-weight:600;
            font-size: 1.8rem;
          }
        }
        .product-items{
          .product-item{
            padding: 10px 0 10px 0;
            strong{
              a{
                  font-size: 1.4rem;
                  color: #000 !important;
              }

            }
          }
        }
        ol{
          li{
            border-bottom: 1px solid #d1d1d169;
            &:last-child{
              border: none;
            }
          }
        }
      }
      .actions-toolbar{
        button{
          background: #e66698;
          border-color: #e66698;
        }
      }
      .secondary{
        margin-left: 10px;
        a{
          font-size: 15px;
          color: #000 !important;
        }
      }
    }
    .columns{
      .main{
        background-color: #ffffff;
        border: 4px solid #ffffff;
        -webkit-box-shadow: 0px 2px 15px 1px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 2px 15px 1px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 2px 15px 1px rgba(0, 0, 0, 0.1);
        .actions a{
          font-size: 15px !important;
          text-transform: uppercase;
          font-weight: 600;
        }
        .page-title-wrapper{
          padding: 10px;
          border-bottom: 1px solid #d1d1d1;
          @media only screen and (min-width: 768px){
          padding: 20px;
          }
          .page-title{
            margin-right: 0;
          }
          .order-date{
            margin: 5px 0 !important;
          }
          .order-status{
            border: none;
            font-style: italic;
            color: #a8a8a8;
          }
        }
        .block-order-details-view{
          .block-title{
            padding: 10px;
            @media only screen and (min-width: 768px){
              padding:20px;
            }
          }
        }
        .actions-toolbar{
            margin-left: 10px;
            @media only screen and (min-width: 768px){
              margin-left:20px;
          }
        }
        .block-title{
          font-size: 1.8rem;
          padding: 10px;
          border-bottom: 1px solid #d1d1d1;
          @media only screen and (min-width: 768px){
            padding: 20px;
          }
          span{
            font-size: 15px !important;
            text-transform: uppercase;
            font-weight: 600;
          }
          }
          .block-content{
            padding: 10px;
            @media only screen and (min-width: 768px){
              padding: 20px;
            }
            a{
              font-size: 15px;
            }
          }
        .dashboard_msg{
          padding: 10px;
          @media only screen and (min-width: 768px){
          padding: 20px;
          }
          h3{
            padding: 5px 0;
            @media only screen and (min-width: 768px){
            padding: 10px 0;
            }
          }
        }
      }
    }
  }
}
