.navigation{
	ul {
    text-align: center;
		font-weight: bold;
		li{
			span{
				font-size: 14px;
				font-weight: 400;
				text-transform: uppercase;
				padding: 0 14px;
				@media only screen and (min-width: 991px){
					font-size: 20px;
					padding: 0 20px;
				}
				@media only screen and (min-width: 768px){
					font-size: 18px;
					padding: 0 18px;
				}
				@media only screen and (min-width: 468px) {
					font-size: 16px;
					padding: 0 16px;
				}
			}
		}
		.level-top{
			color: #000000;
		}
	}
}
