@import "_header.less";
@import "_footer.less";
.clearfix{
  display: block;
  clear: both;
}

.cms-get-started
{
  .page-wrapper
  {
    .page-footer
    {
      margin-top:0;
    }
    .breadcrumbs
    {
      display:none;
    }
    #maincontent
    {
      margin-top:79px;
      max-width: 100% !important;
      padding:0;
      @media all and (min-width:640px){
        margin-top:76px;
      }
      @media all and (min-width:768px){
        margin-top:89px;
      }
      .page-title-wrapper
      {
        display:none;
      }
      .columns
      {
        display: block !important;
        .get-started-container
        {
          h2
          {
            text-align: center;
            strong
            {
              color: #000;
              font-weight: 600;
            }
            @media all and (max-width:991px)
            {
              padding:20px 0;
            }
          }
          .get-started-wrapper
          {
            .get-started-kit-block
            {
                 box-shadow: 0px 2px 15px 1px rgba(0, 0, 0, 0.1);
                -webkit-box-shadow: 0px 2px 15px 1px rgba(0, 0, 0, 0.1);
                -moz-box-shadow: 0px 2px 15px 1px rgba(0, 0, 0, 0.1);
                margin-bottom:50px;
                @media all and (max-width:991px)
                {
                  margin-bottom:30px;
                }
                @media all and (max-width:767px)
                {
                  margin-bottom:0;
                }
                &:last-child{
                  margin-bottom:0;
                }
                @media all and (max-width:767px){
                  box-shadow:none;
                  -webkit-box-shadow: none;
                  -moz-box-shadow: none;
                }
              &:after
              {
                clear:both;
                display:table;
                content:'';
              }
              &:nth-child(even)
              {
                .kit-image
                {
                  float:right;
                }
              }
              .kit-image
              {
                width: 45%;
                float: left;
                @media all and (max-width:1200px)
                {
                  width:48%;
                }
                @media all and (max-width:1024px)
                {
                  width:49%;
                }
                @media all and (max-width:767px)
                {
                  width:100%;
                }
                img
                {
                  float:left;
                  width: 100%;
                }
              }
              .kit-widget
              {
                width: 55%;
                float: left;
                position:relative;
                padding: 20px 40px;
                box-sizing:border-box;
                text-align: center;
                margin-top:7%;
                @media all and (max-width:2150px)
                {
                  margin-top:5%;
                }
                @media all and (max-width:1970px)
                {
                  margin-top:6%;
                }
                @media all and (max-width:1740px)
                {
                  margin-top:3%;
                }
                @media all and (max-width:1650px)
                {
                  margin-top:2%;
                }
                @media all and (max-width:1560px)
                {
                  margin-top:1%;
                }
                @media all and (max-width:1475px)
                {
                  margin-top:0%;
                }
                @media all and (max-width:1440px)
                {
                  margin-top:1.5%;
                }
                @media all and (max-width:1368px)
                {
                  margin-top:1%;
                }
                @media all and (max-width:1280px)
                {
                  margin-top:0%;
                }
                @media all and (max-width:1200px)
                {
                  width:52%;
                  padding:20px 25px;
                }
                @media all and (max-width:1024px)
                {
                  margin-top:4%;
                  width:51%;
                  padding:20px;
                }
                @media all and (max-width:940px)
                {
                  margin-top:3%;
                }
                @media all and (max-width:901px)
                {
                  margin-top:2%;
                }
                @media all and (max-width:860px)
                {
                  margin-top:1%;
                }
                @media all and (max-width:824px)
                {
                  margin-top:0%;
                }
                @media all and (max-width:800px)
                {
                  margin-top:-13px;
                }
                @media all and (max-width:767px)
                {
                  width:100%;
                  margin-top:0;
                }
                .product-item
                {
                  padding:0;
                  .product-title{
                    padding: 15px 0 15px 0;
                    @media only screen and (min-width: 768px){
                      padding: 20px 0 20px 0;
                    }
                    @media only screen and (min-width: 1200px){
                      padding: 40px 0 20px 0;
                    }
                    a{
                      color:#505050;
                      font-size: 23px;
                      font-weight: 600;
                      text-transform:uppercase;
                      &:hover , &:focus, &:active {
                          color: #374076;
                      }
                      @media all and (max-width:1024px)
                      {
                        &:hover , &:focus, &:active {
                            color: #000;
                        }
                      }
                      @media only screen and (min-width: 468px){
                        font-size: 25px;
                      }
                      @media only screen and (min-width: 1024px){
                        font-size: 30px;
                      }
                    }
                  }
                  .actions-primary{
                    margin: 15px 0;
                    @media only screen and (min-width: 1024px){
                      margin: 25px 0;
                    }
                    @media only screen and (min-width: 1280px){
                      margin: 40px 0;
                    }
                    .product-item-price
                    {
                      display:none;
                    }
                    p{
                      color:#374076;
                      font-weight: 600;
                      font-size: 18px !important;
                    }
                  }
                  h5{
                    color: #6e6e6e;
                    font-size: 14px;
                    font-weight: 500;
                    margin-bottom: 25px;
                    @media only screen and (min-width: 468px){
                      font-size: 15px;
                    }
                    @media only screen and (min-width: 768px){
                      font-size: 16px;
                      margin-bottom:20px;
                    }
                    @media only screen and (min-width: 1024px){
                      font-size: 17px;
                      margin-bottom: 35px;
                    }
                    @media only screen and (min-width: 1280px){
                      margin-bottom:50px;
                    }
                  }
                  h3{
                      color:#505050;
                      font-size: 20px;
                      font-weight: 600;
                      text-transform:uppercase;
                      padding-bottom:20px;
                      @media only screen and (min-width: 468px){
                        font-size: 22px;
                      }
                      @media all and (min-width:768px) and (max-width:1024px){
                        display:none;
                      }
                      @media only screen and (min-width: 1024px){
                        font-size: 26px;
                        padding-bottom:30px;
                      }
                  }
                  .product-row{
                    display: flex;
                    .sub-product{
                      text-align: center;
                      position: relative;
                      -ms-flex: 0 0 33.33%;
                      flex: 0 0 33.33%;
                      max-width: 33.33%;
                      padding:0 6px;
                      box-sizing:border-box;
                      img{
                        width: 45%;
                        @media only screen and (min-width: 768px) and (max-width: 1440px){
                          width: 25%;
                        }
                      }
                      h4{
                        color: #000;
                        font-size: 15px;
                        font-weight: 600;
                        margin: 0;
                        padding:0;
                        line-height:1.25;
                        text-overflow:ellipsis;
                        overflow:hidden;
                        white-space:nowrap;
                        @media only screen and (min-width: 768px){
                          font-size: 14px;
                        }
                        @media only screen and (min-width: 1024px){
                          font-size: 16px;
                        }
                      }
                      h5{
                        color: #b3b3b3;
                        font-size: 14px;
                        font-weight: 300;
                        margin: 0;
                        padding:0;
                        padding-bottom:5px;
                        text-overflow:ellipsis;
                        overflow:hidden;
                        white-space:nowrap;
                        @media only screen and (min-width: 768px){
                          font-size: 13px;
                        }
                        @media only screen and (min-width: 1024px){
                          font-size: 15px;
                        }
                      }
                      p{
                        font-weight: 600;
                        color: #374076;
                        margin: 10px 0;
                        font-size:15px;
                        @media only screen and (min-width: 768px){
                          font-size: 14px;
                        }
                        @media only screen and (min-width: 1024px){
                          font-size: 16px;
                        }
                      }
                    }
                  }
                }
              }
            }
            .member-wrapper
            {
              margin-bottom:50px;
              @media all and (max-width:991px)
              {
                margin-bottom:30px;
              }
              @media all and (max-width:767px)
              {
                margin-bottom:0;
              }
              .member-image
              {
                img
                {
                  width: 100%;
                }
                .desktop-view{
                  display: none;
                  @media only screen and (min-width: 768px){
                    display: block;
                  }
                }
                .mobile-view{
                  display: block;
                  @media only screen and (min-width: 768px){
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
