.checkout-onepage-success
{
  .page-main
  {
    .order-confirm
    {
      .checkout-success
      {
        text-align: center;
          .order-confirm-heading
          {
            h1
            {
              font-size: 22px;
              font-weight: 600;
              margin-bottom: 30px;
            }

          }
          p
          {
            font-weight: 500;
            span
            {
              font-weight: 800;
            }
          }
          .actions-toolbar
          {
            text-align: center;
            margin-top: 32px;
            .primary
            {
              margin: 0 auto;
              float: none;
              .continue
              {
                margin: 0 auto;
                float: none;
                width: 360px;
                
                border-radius: 30px;
                text-transform: uppercase;
                padding: 11px;
                background: #333e74;
                border: none;
              }
            }
          }
      }
    }
  }
}
